@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html {
    height: 100%;
    line-height: 1.2;
  }

  body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    min-width: 440px;
  }

  .card {
    @apply rounded-lg bg-white px-6 py-4 shadow-md;
  }
}
