@import "./assets/fonts/stylesheet.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html {
    height: 100%;
    line-height: 1.2;
  }

  body {
    min-width: 440px;
  }

  .card {
    @apply rounded-lg bg-white px-6 py-4;
  }

  .table-icon {
    @apply h-6 w-6 cursor-pointer;
  }
}
